.featured--2 {

    .item-box {
        position: relative;
        // z-index: -1;
    }

    .item-box::after {
        display: flex;
        justify-content: center;
        align-items: center;
        content: 'SALE';
        font-size: clamp(.9rem, 80%, 100%);
        padding: 2% 4%;
        letter-spacing: .9px;
        background-color: red;
        color: white;
        // height: 2.5rem;
        // width: 4.6rem;
        position: absolute;
        right: -1px;
        top: -1px;
        // z-index: 1;

        

    }

    button {
        height: 2.48rem;
        width: 9.625rem;
        border: none;
        background-color: var(--color-orange);
        color: #fff;
        cursor: pointer;

        margin-top: 2rem;

        

        h1 {
            color: white;
            font-size: 1rem;
            font-weight: 400;
        }
    }


    button:hover {

        opacity: 0.8;
        color: #fff;
    }

    

}